@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
.container-dMovie{
    color: #ffffff;
    background-color: #17181c;
    width: 100%;
    height: auto;
    background-color: #17181c; 
    .banner-dMovie{
        height: 600px;
        background-size: cover;
        background-position: 50% 0;
        background-repeat: no-repeat;
        position: relative;
        &::before{
            position: absolute;
            content: "";
            width: 100%;
            top: 0;
            bottom: 0;
            background-color: rgba(2, 13, 24, .75);
        }
    }
    .section-dMovie{
        position: relative;
        .sectionMovie{
            margin-top: -250px;
            // border: 1px solid white;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .column-1-4{
                width: 20%;
                // border: 1px solid white;
                display: flex;
                align-items: center;
                flex-direction: column;
                margin-bottom: 1.5em;
                .poster-movie{
                    width: 240px;
                    height: 360px;
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                    border-radius: 10px;
                }
                .btn-watch{
                    margin-top: 1.5rem;
                    font-size: 1.25rem;
                    color: #ffffff;
                    width: 240px;
                    height: 60px;
                    background-color: #078e89;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform:uppercase;
                    cursor: pointer;
                    border-radius: 10px;
                    gap: 20px;
                    &:hover{
                        background-color: #00bab3;
                    }
                }
            }
            .column-3-4{
                // border: 1px solid white;
                width: 70%;
                height: auto;
                .original-title{
                    // margin-bottom: 0.7em;
                    // font-family: Merriweather, serif;
                    font-weight: 700;
                    font-size: 2.5em;
                }        
                .sub-title{
                    margin-bottom: 1.5em;
                    color: #b5b5b5;
                    font-size: 1.25rem;
                    font-weight: 500;
                    line-height: 1.25;
                    a{
                        color: #428bca;
                        cursor: pointer;
                        text-decoration: none;
                        &:hover{
                            color: #dcf836;
                        }
                    }
                }
                .runtime-movie{
                    font-size: 1.2em;
                    margin-bottom: 1.2rem;
                }
                .imdb-movie{
                    margin-bottom: 1.2rem;
                }
                .level-genres{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 3rem;
                    .btn-list{
                        display: flex;
                        flex-direction: row;
                        gap: 10px;
                        .btn-share{
                            font-size: 1.2rem;
                            background-color: #3e56c4;
                            width: 100px;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 5px;
                            cursor: pointer;
                            gap:10px;
                            &:hover{
                                background-color: #002fff;
                            }
                        }
                        .btn-addList{
                            font-size: 1.2rem;
                            width: 120px;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 5px;
                            cursor: pointer;
                            gap:10px;
                            border: 1px solid white;
                            &:hover{
                                background-color: #005551;
                                border: none;
                            }
                        }
                    }
                    .list-genres{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap ;
                        // margin-bottom: 1.5em;
                        gap: 1rem;
                        .item-genres{
                            height: 30px;
                            width: auto;
                            padding: 10px;
                            border: 1px solid white;
                            border-radius: 20px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            // margin-left: .75rem;
                            &:hover{
                                background-color: white;
                                color: black;
                            }
                        }
                    }
                }
                .info-movie{
                    font-size: 16px;
                    margin-bottom: 1.5em;
                    dt{
                        width: 120px;
                        text-transform: uppercase;
                        color: #7a7a7a;
                        float: left;
                        clear: left;
                    }
                    a{
                        color: #dbdbdb;
                        font-weight: 700;
                        text-decoration: none;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                .overview{
                    margin-bottom: 1.5em;
                    color: #b5b5b5 !important;
                }
                .actor, .trailer{
                    margin-bottom: 1.5rem;

                    .title-actor, .title-trailer{
                        font-size: 1rem;
                        font-weight: 700;
                        text-transform: uppercase;
                        margin-bottom: 1rem;
                    }
                    .cast{
                        .container-list-actor{
                            display: flex !important;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            gap: 0.25rem;
                            .img-actor{
                                width: 120px !important;
                                height: 120px !important;
                                background-size: cover;
                                background-position: center center;
                                background-repeat: no-repeat;
                                border-radius: 50%;
                                cursor: pointer;
                                &:hover{
                                    border: 2px solid #00bab3 ;
                                }
                            }
                            .name-actor{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                a{
                                    text-align: center;
                                    text-decoration: none;
                                    color: #ffffff;
                                    &:hover{
                                        text-decoration: underline;
                                    }
                                }
                            }
                            .name-character{
                                text-align: center;
                                color: #7a7a7a;
                            }
                        }         
                    }
                    .trailer-list{
                        .slick-slide{
                            display: flex !important;
                            align-items: center;
                            justify-content: center;
                        }
                        .container-list-videoM{
                            // border: 1px solid red;
                            width: 200px !important;
                            height: 120px;
                            .img-video{
                                width: 200px;
                                height: 120px;
                                background-size: cover;
                                background-position: center center;
                                background-repeat: no-repeat;
                                border-radius: 10px;
                                cursor: pointer;
                                &:hover{
                                    border: 2px solid #00bab3;
                                    box-shadow: 0px 0px 200px -2px rgba(0,0,0,0.75) inset;
                                }
                                &:hover > .play-video{
                                    display: flex;
                                }
                            }
                            .play-video{
                                height: 100%;
                                font-size: 40px;
                                display: none;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .container-dMovie{
        .section-dMovie{
            .sectionMovie{
                display: flex;
                flex-direction: column !important;
                align-items: center;
            }
        } 
    }
    .btn-watch{
        background-color: red;
    }
    .level-genres{
        display: flex;
        flex-direction: column !important;
        align-items: flex-start !important;
        gap: 1rem;
    }
}