.csl-cont{
    // border: 5px solid red;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top:20px;
    left: 0px;
    .cont-detail{
        padding-left: 10px;
        width: auto;
        height: auto;
        left: 0px;
        z-index: 0;
        position: absolute;
        top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 20px;
        transition: all 0.5s ease-in-out;
        .details-m-cont{
            background-color: #17181c;
            color: white;
            width: 180px;
            height: 120px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            border-radius: 10px;
            .title-m{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                .img-movie{
                    height: 60px;
                    width: 60px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 8px;
                }
                .name-movie{
                    width: 90px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    .name{
                       height: 40px; 
                    }
                }
            }
            .btn-list{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                .btn-watch{
                    height: 30px;
                    width: 90px; 
                    background-color: #00bab4bb;
                    border-radius: 6px;
                    color: black;
                    font-size: 16px;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    font-weight: 700;
                    &:hover{
                        background-color: #00bab3;
                    }
                }
                .btn-drop{
                    height: 30px;
                    width: 60px;
                    border-radius: 6px;
                    background-color: #455a53b2;
                    opacity: 0.75;
                    cursor: pointer;
                    font-size: 16px;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    &:hover{
                        background-color:#455a53;
                    }
                }
            }
        }
    }

}
.input-range__slider{
    display: none !important;
}
.input-range__track--active{
    background:#45847d !important;
}